# ignore .git and .cache folders
.git
.cache

# ignore markdown file except README
*.md
!README*.md

# ignore vendor directory
/vendor

# ignore .env files for safety
.env
*.env

# ignore MacOS filesystem
.DS_Store

# ignore docker-compose
docker-compose.yaml
docker-compose*.yaml
docker-compose.json
docker-compose*.json